.services {
  margin-top: 46px;
  margin: 46px auto 0 auto;

  &__small__title {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
  }

  &__big__title {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
  }

  &__big__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 71px;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #f38181;
  }

  &__cards {
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  &__card {
    display: flex;
    gap: 30px;
    align-items: flex-start;

    &__header__title {
      margin: 0;
      font-size: 14px;
      text-transform: uppercase;
      color: #333333;
      font-weight: 700;
      font-family: "Montserrat";
    }

    &__header__description {
      width: 290px;
      font-size: 15px;
      line-height: 24px;
      color: #999999;
      font-weight: 400;
      font-family: "Roboto";
    }
  }

  @media (max-width: 1280px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__card {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      &__image {
        margin-bottom: 20px;
      }

      &__header__title {
        font-size: 18px;
      }
    }
  }

  @media (max-width: 600px) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;

      &__card__image {
        margin-bottom: 20px;
      }

      &__card__header__title {
        font-size: 18px;
      }
    }
  }
}
